# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
env/
.venv/

# Data (large / not meant for version control)
data/raw/*
# data/processed - now tracked
!data/raw/.gitkeep

# OS
.DS_Store
Thumbs.db

# Environment
.env
data/processed/*
!data/processed/.gitkeep
